.display {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center
}
#results{
    display: none;
}
#results div p{
    padding-bottom: 0px;
    margin-bottom:0px;
}
.resultsBottom{
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.resultsBottom p{
    text-align: center;
}

.inputCenter, .inputCenter::placeholder{
    text-align: center;
    color: rgb(19, 109, 5);
    opacity: 0.5;
}
.padding{
    padding-bottom:15px;
}
#errors{
    color:rgb(255, 47, 0);
    display:none;
    text-align: center;
}